html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}




/* /////////////////////////////////////////////////////// */

.App {
	display: flex;
	justify-content: flex-start;
	padding-top: 50px;
	margin-left: 50px;
}

.left-panel {
	width: 270px;
	height: 780px;
	/* background-color: aquamarine; */
	border: solid 1px gray;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.container-parrent {
	margin-top: 30px;
	/* background-color: gray; */
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	justify-items: center;
	align-items: center;;
}

.containers {
	width: 100px;
	height: 83px;
	background-color: #F6F9FE;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	cursor: pointer;
}

.containers:hover {
	background-color: #d9dadfcc;
}

.container-photos {
	width: 25px;
}


.middle-section {
	width: 520px;
	min-height: 780px;
	padding-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: #F5F5FC;
}

.workspace-slot {
	position: relative;

}

.workspace-par {
	width: 480px;
	height: 83px;
	padding: 10px;
	margin: 10px 0 10px 0;
	background-color: white;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
}

.workspace-par:hover {
	background-color: rgba(221, 224, 226, 0.838);
}


.workspace-par-active {
	width: 480px;
	height: 131px;
	padding: 10px;
	margin: 10px 0 10px 0;
	background-color: #D9E7FF;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
}


.movment {
	width: 53px;
	height: 27px;
	background-color: #449CF4;
    border-radius: 3px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: -27px;
	right: 70px;
}

.creation {
	width: 53px;
	height: 27px;
	background-color: #449CF4;
    border-radius: 3px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: -27px;
	right: 10px;
}

.arrows {
	width: 14px;
	cursor: pointer;
}

.final-render {
	/* background-color: #9fa6adc9; */
	border: 1px solid gray;
	width: 450px;
	min-height: 780px;
	padding-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.workspace-par-render {
	width: 400px;
	height: 83px;
	padding: 10px;
	margin: 10px 0 10px 0;
	background-color: rgba(3, 232, 163, 0.719);
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}


.headline {
	font-size: 22px;
	margin: 10px 0 10px 0;
}

.paragraph {
	font-size: 14px;
	color: #97AACD;
	margin: 10px 0 10px 0;
}

.button {
	width: 145px;
	height: 40px;
	background-color: #4368E0;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin: 10px 0 10px 0;
}


.button:hover {
	background-color: #6172a9;
}

.image {
	width: 400px;
	margin: 10px 0 10px 0;
}


.input {
	width: 457px;
	height: 38px;
	border-radius: 3px;
	border: solid 1px gray;
	padding-left: 10px;
}